<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
      ConexaoLojinha:
      Esta string de conexão aponta diretamente para o banco de dados da aplicação (Lojinha).
      É usada nas operações normais do sistema, como CRUD de usuários e vendas.
      Server=localhost      -> Nome do servidor (aqui é o SQL Server local)
      Database=Lojinha      -> Nome do banco de dados
      Integrated Security=True -> Usa autenticação do Windows
    -->
		<add name="ConexaoLojinha"
			 connectionString="Server=localhost;Database=Lojinha;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

		<!--
      ConexaoMaster:
      Usada exclusivamente para operações de backup e restore.
      Conecta ao banco 'master', que é um banco interno do SQL Server usado para gerenciar outros bancos.
      Necessária porque não é possível restaurar um banco quando estamos conectados diretamente nele.
    -->
		<add name="ConexaoMaster"
			 connectionString="Server=localhost;Database=master;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!--
    IMPORTANTE:
    Para que o ConfigurationManager funcione, é necessário adicionar referência no projeto:
    Project → Add Reference… → Assemblies → Framework → System.Configuration
  -->

</configuration>
